{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

{% if session.get('user') == 'malcolm' or session.get('user') == 'admin' %}
    {% for f in feedback %}
        <a href="/profile/{{ f['actualname' ]}}"><span>{{ f['actualname'] }}:</span></a> <br>
        <b>{{ f['name'] }}</b> <br>
        {{ f['feedback'] }} <br>
        {{ f['date'] }}         
        <form action="/admin/feedback/delete" method="POST">
            <input type="hidden" name="index" value="{{ loop.index0 }}">
            <button type="submit" class="buttonthing">Mark resolved</button>
        </form>
        <hr>
    {% endfor %}
{% else %}
    You shouldn't be here!
{% endif %}

{% endblock %}