{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

{% if session.get('user') == 'malcolm' or session.get('user') == 'admin' %}
    <a href="/admin/migrategame"><button class="buttonthing">Migrate Game Player Info</button></a>
    <a href="/admin/migrateuandp"><button class="buttonthing">Migrate uandp Info</button></a> <a href="/admin/feedback"><button>Feedback</button></a>
    <a href="/admin/users"><button>View Users</button></a> <br>
    <br><b>Change user rank:</b>
    <form action="/admin/userrank" method="POST">
        <label for="user">user:</label>
        <input type="text" id="user" name="user"> <br>
        <label for="newrank">new rank:</label>
        <input type="text" id="newrank" name="newrank"> <br>
        <input type="submit" class="buttonthing">
    </form> <br>
    <b>Add achievement:</b>
    <form action="/admin/achievement/add" method="POST">
        <label for="achievementid">id:</label>
        <input type="text" id="achievementid" name="achievementid"> <br>
        <label for="achievementname"> achievement name: </label>
        <input type="text" id="achievementname" name="achievementname"> <br>
        <label for="achievementdescription"> achievement description: </label>
        <input type="text" id="achievementdescription" name="achievementdescription"> <br>
        <label for="achievementcolour"> achievement rarity: </label>
        <input type="text" id="achievementcolour" name="achievementcolour"> <br>
        <input type="submit" class="buttonthing">
    </form> <a href="/admin?show=achievements"><button class="buttonthing">Show Achievements</button></a><br>
    {% if show_achievements %}
    {% for a in achievement_list %}
        <span class="rarity-{{ a.rarity }}">{{ a.name }}</span> — {{ a.id }} - {{ a.description }}
            <form action="/admin/achievement/delete" method="POST" style="display: inline;">
        <input type="hidden" name="id" value="{{ a.id }}">
        <button type="submit" class="buttonthing">Delete</button>
    </form><br>
    {% endfor %}
{% endif %}
    <b>Award achievement:</b>
    <form action="/admin/achievement/award" method="POST">
        <label for="user">username:</label>
        <input type="text" id="user" name="user"> <br>
        <label for="achievementid"> achievement id: </label>
        <input type="text" id="achievementid" name="achievementid"> <br>
        <input type="submit" class="buttonthing">
    </form> 
{% else %}
    You shouldn't be here!
{% endif %}

{% endblock %}