<!doctype html>
<html>
  <head>

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="/static/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/static/icon.png" type="image/png">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <style>
        #website_heading {
            text-decoration: none;
        }
        #website_heading:hover {
            text-decoration: none;
            color: black;
        }
    </style>
    {% endblock %}
    {% block extra_styles %} {% endblock %}
  </head>
  <body>
    <div id="heading" class="navbar">
        <a href="/" id="website_heading"><h1 style="text-shadow: 5px 5px 6px grey; font-family: 'Times New Roman', Times, serif; font-size: 40px;">the-slab</h1></a>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <a href="/"><button class="buttonthing">Home</button></a> <a href="/status"> <button class="buttonthing">Status</button></a> <a href="/blog"><button class="buttonthing">Blog</button></a>
            <a href="/forum"><button>Forums</button></a><a href="/games"><button class="buttonthing" >Games</button></a>
            {% if session.get('role', 'user') == 'admin' %}
            <a href="/admin"><button class="buttonthing">Admin</button></a>
            {% endif %}
        </div>
        <div class="loginsign">  
            {% if 'user' in session %}
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <span class="role-{{ session.get('role', 'user') }}">{{ session['user'] }}</span> 
                    <div><a href="/notifications"><button>🔔</button></a><a href="/profile/{{ session.get('user') }}"><button class="buttonthing">Profile</button></a></div>
                </div>
            {% else %}
            <a href="/login"> <button class="buttonthing">Login</button></a> <a href="/register"><button class="buttonthing">Register</button></a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div id="content" style="max-width: 1300; margin: 0 auto; padding: 0 16px;">{% block content %}{% endblock %}</div>
      {% block extra_scripts %} {% endblock %}
  </body>

</html>