<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
        <link rel="icon" href="/static/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/static/icon.png" type="image/png">  
</head>
<body>
    There was an error loading the site. <br>
    Please check back later. <br> <br>
    Status: <b>WORKING ON IT</b> <br>
    Message: There are issues loading user profiles. As of 20/05/26 it seems that all accounts/activity has been deleted after 14/04/26. If you have created an account since that date, please contact support. <br> <br>
 <br>
    Available again: UNKNOWN
    <br><br>
    If you have any requests/issues in the meantime, please contact <a href="mailto:support@malcolmslab.com">support@malcolmslab.com</a>. <br>
    If you would like to be notified when the site is up again, please contact <a href="mailto:updates@malcolmslab.com">updates@malcolmslab.com</a>.<br><br>
    <img src="/static/kingblob.PNG">
</body>
</html>