
    {% extends "base.html" %}
    {% block title %}Guest Book{% endblock %}
    {% block content %}
    <p>Welcome to the guestbook! Feel free to add a comment or some feedback here.</p> <p>Please be nice and dont spam :)</p>
    <p><a href="\sign"><button class="buttonthing">Add your entry to the guestbook here!</button></a></p> <hr>
    {% for entry in entries %}
        <p><b>{{ entry.name }}:</b></p> <p>{{ entry.message }}</p>
        <p>{{ entry.date }}</p>
        {% if session['user'] == 'malcolm' %}
        <form action="/deleteGuestEntry" method="POST">
            <input type="hidden" name="index" value="{{ loop.index0 }}">
            <button type="submit" class="buttonthing">Delete</button>
        </form>
        {% endif %}
        <hr>
    {% endfor %}
    {% endblock %}
