
    {% extends "base.html" %}
    {% block title %}Guest Book{% endblock %}
    {% block content %}
    <p>Welcome to the guestbook! Feel free to add a comment or some feedback here.</p> <p>Please be nice and dont spam :)</p>
    <p><a href="\sign"><button class="buttonthing">Add your entry to the guestbook here!</button></a></p> <hr>
    {% for entry in entries %}
        <p><b><a href="/profile/{{ entry.name }}"><span class="role-{{ roles.get(entry.name, 'user') }}"> <img src="/static/avatars/{{ entry.name }}.png" onerror="this.src='/static/avatars/default.png'" height="25" style="width: 25px; height: 25px; object-fit: cover; border-radius: 50%"> {{ entry.name }}</span></a>:</b></p> <p>{{ entry.message }}</p>
        <p>{{ entry.date }}</p>
        {% if session['user'] == 'malcolm' %}
        <form action="/deleteGuestEntry" method="POST">
            <input type="hidden" name="index" value="{{ loop.index0 }}">
            <button type="submit" class="buttonthing">Delete</button>
        </form>
        {% endif %}
        <hr>
    {% endfor %}
    {% endblock %}
