    {% extends "base.html" %}
    {% block title %}Home{% endblock %}
    {% block content %}
    <h3>About</h3>
    <p>This is my personal website that is hosted on the server. <del>It is currently only accessible on the private network, but maybe one day I will change that...</del>
    <br>
    <del>idk</del>
    <br>
    Nevermind you can access it outside the private network sometimes but a lot of the time it's down so idk.
    <br>
    I will sometimes update it when I feel like it. The reason I created it in the first place was for status updates regarding the other services on the server, but I think I will add other projects as well.
    <br> 
    So feel free to look around, I don't really care.
    <br>
    Just don't expect new things added constantly or for it to be nicely polished or have good spelling/grammar (i am writing this inside a Visual Studio Code so grammarly doesn't work and it's kinda hard to proofread with a bunch of random code around)
    <br> so... yeah
    <br> If you run into any bugs or issues you can <a href="/report"><button class="buttonthing">submit a report</button></a>.</p>
    <hr>
    <h3>Important Updates</h3>
    As of the 14/04/2026, this website will <b>no longer be supported on mobile devices</b>. For the full experience, please access on a computer. <br> <br>
    Go to all <a href="/forum/announcements">announcements</a>
    <hr>
    <h3>Important Links</h3>
    <p><a href="https://github.com/malcolmizcool/website" target="_blank">github:</a> <span>The repository for this website</span><br>
    <a href="http://192.168.0.51:5055" target="_blank" title="192.168.0.51:5055">Jellyseerr:</a> To request media
    <br>
    <a href="https://tv.malcolmslab.com" target="_blank" title="tv.malcolmslab.com">Jellyfin:</a> To watch media
    <br>
    <a href="http://192.168.0.51:8080" target="_blank" title="192.168.0.51:8080">AMP:</a> To manage the minecraft server </p>
    <hr>
    <h3>Less Important Links</h3>
    <p>(dont touch these if you dont know what you are doing) <br> also these are here for educational purposes only
    <br>
    <br>
    <a href="http://192.168.0.51:9696" target="_blank" title="192.168.0.51:9696">Prowlarr</a>
    <br>
    <a href="http://192.168.0.51:8989" target="_blank" title="192.168.0.51:8989">Sonarr</a>
    <br>
    <a href="http://192.168.0.51:7878" target="_blank" title="192.168.0.51:7878">Radarr</a>
    <br>
    <a href="http://192.168.0.51:8999" target="_blank" title="192.168.0.51:8999">QBittorrent</a>
    <br>
    <a href="http://192.168.0.51:10000" target="_blank" title="192.168.0.51:10000">Webmin</a> </p>
    <hr>
    {% endblock %}