{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block extra_styles %}
<style>
#important_links {
    color: #6a9ab8;
}
td {
    border: none;
}

.table_heading_background {
    background: #444444
}
.table_heading_text {
    color: white;
}

.secondary_background {
    background: #e0e0e0;
}

.primary_background {
    background: #ebebeb
}

</style>
{% endblock %}
{% block content %}
<div style="display: flex;">
<div id="col-left" style="padding: 5px;">

    <table style="width: 100%;">
        <tr class="table_heading_background"><td><b><span class="table_heading_text">about</span></b></td></tr>
        <tr class="primary_background"><td>Welcome to the-slab. There is much to do here. <br> 
            Feel free to look around. <br>
            I actively work on this site, so bugs and issues are bound to pop up. Please report them <a href="/report"><button>here</button></a>. <br>
            If you have any requests or suggestions for the future of this site, let me know <a href="/forum/feedback"><button>here</button></a>.  
        </td></tr>
    </table>
    <table style="width: 100%;">
        <tr class="table_heading_background"><td><b><span class="table_heading_text">updates</span></b></td></tr>
        <tr class="primary_background"><td> <span style="color: #c8a060;">⚠</span>14/04/26 - this site will <b>no longer be supported on mobile devices</b></td></tr>
        <tr class="secondary_background"><td> 🤔 10/04/26 - the look of the landing page has been updated! please leave your feedback <a href="/forum/feedback">here</a>.</td></tr>
        <tr class="primary_background"><td><span style="color: #6aa888 ;">▶</span>08/04/26 - Markdown has been added to forums. read more <a href="/forum/announcements/4">here</a>.</td></tr>
        <tr class="secondary_background"><td>😶 04/04/26 - a new game is officially in the works. it should have its first release in late May.</td></tr>
        <tr class="primary_background"><td><span style="color: #6a7480;">see all announcements <a href="forum/announcements">here</a></span></td></tr>
    </table>
    <div style="display: flex; width: 100%;">
        <table style="flex: 1">
            <tr class="table_heading_background"><td colspan="2"><b><span class="table_heading_text">important links</span></b></td></tr>
            <tr class="primary_background"><td><a href="https://github.com/malcolmizcool/website" target="_blank" id="important_links">GitHub:</a></td><td><span style="color: #6a7480;">the repository for this site</span></td></tr>
            <tr class="secondary_background"><td><a href="http://192.168.0.51:5055" target="_blank" title="192.168.0.51:5055" id="important_links">Jellyseer</a></td><td><span style="color: #6a7480;">to request media</span></td></tr>
            <tr class="primary_background"><td><a href="https://tv.malcolmslab.com" target="_blank" title="tv.malcolmslab.com" id="important_links">Jellyfin</a></td><td><span style="color: #6a7480;">to watch media</span></td></tr>
            <tr class="secondary_background"><td><a href="http://192.168.0.51:8080" target="_blank" title="192.168.0.51:8080" id="important_links">AMP</a></td><td><span style="color: #6a7480;">minecraft server hosting</span></td></tr>
        </table>
        <img src="/static/assets/blob.png" style="height: 100px; width: 100px; image-rendering: pixelated; cursor: pointer;" id="blobPic", onclick="changeBlob()">
    </div>
    <div style="display: flex; width: 100%;">
    <table style="flex: 1">
        <tr class="table_heading_background"><td colspan="2"><b><span class="table_heading_text">active users</span></b></td></tr>
        {% for user in active_users %}
        <tr class="{% if loop.index % 2 == 0 %} secondary_background {% else %} primary_background {% endif %}"><td><a href="/profile/{{ user['username'] }}" style="text-decoration: none;">{{ user['username'] }}</a></td><td>{% if user['status'] == 'online' %}<span style="color: #6aa888;">• online</span> {% else %} <span style="color: #6a7480;">last online {{ user['status'] }}</span> {% endif %}</td></tr>
        {% endfor %}
    </table>
    <table style="flex: 1;">
        <tr class="table_heading_background"><td colspan="2"><b><span class="table_heading_text">new users</span></b></td></tr>
        {% for user in new_users %}
        <tr class="{% if loop.index % 2 == 0 %} secondary_background {% else %} primary_background {% endif %}"><td><a href="/profile/{{ user[1] }}" style="text-decoration: none;">{{ user[0] }}</a></td><td>{{ user[1] }}</td></tr>
        {% endfor %}
    </table>
    </div>
</div>
<div id="col-mid" style="padding: 5px">
    <table style="width: 100%;">
        <tr class="table_heading_background"><td><b><span class="table_heading_text">featured video</span></b></td></tr>
        <tr class="primary_background"><td><video src="/static/Back to friends.mov" controls width="400"></video> <br>
        <span style="color: #6a7480;">you can comment on this <a href="/forum">here</a></span>
        </td></tr>

    </table>
    <table style="width: 100%;">
        <tr class="table_heading_background"><td><b><span class="table_heading_text">featured forum post</span></b></td></tr>
        
        <tr class="primary_background"><td><div style="word-break: break-word; white-space: pre-line;">{% if featured.content %}{{ featured.content | md | safe }}{% endif %}</div>
        
             - <a href="/profile/aibamc" style="text-decoration: none;">aibamc</a>
        </td></tr>
    </table>
</div>
<div id="col-right" style="padding: 5px;">
    <table style="width: 100%;">
        <tr class="table_heading_background"><td><b><span class="table_heading_text">site counter</span></b></td></tr>
        <tr class="primary_background"><td>total homepage visits: {{ counter }}</td></tr>
        <tr class="secondary_background"><td>total users: {{ counted_users }}</td></tr>
        <tr class="primary_background"><td>total bug reports open: {{ nfeedback }}</td></tr>
        <tr class="secondary_background"><td>total blackjack wins: {{ total_blackjack_wins }}</td></tr>
        <tr class="primary_background"><td>total numberspin points: {{ total_numberspin_points }}</td></tr>
    </table>
    <table style="width: 100%;">
        <tr class="table_heading_background"><td colspan="2"><b><span class="table_heading_text">interesting/cool links</span></b></td></tr>
        <tr class="primary_background"><td>link</td><td>description</td></tr>
        <tr class="secondary_background"><td><a href="https://awbw.amarriner.com/" style="color: #6a9ab8;">AWBW</a></td><td style="color: #6a7480;">guys please play this it's actually so peak</td></tr>
        <tr class="primary_background"><td><a href="https://www.youtube.com/watch?v=fVIUwpOWTYM" style="color: #6a9ab8;">A Public Stoning</a></td><td style="color: #6a7480;">new puscifer music video</td></tr>
    </table>
    <table style="width: 100%;">
        <tr class="table_heading_background"><td><b><span class="table_heading_text">featured art</span></b></td></tr>
        <tr class="primary_background"><td><span style="color: #6a7480;">please reach out to submit your art!</span></td></tr>
    </table>
</div>
</div>
{% endblock %}
{% block extra_scripts %}
<script>
    function changeBlob() {
        let blob = document.getElementById('blobPic')
        if (blob.src.includes('/static/assets/blob.png')) {
            blob.src = '/static/assets/blob2.png'
        } else {
            blob.src = '/static/assets/blob.png'
        }
    }
</script>
{% endblock %}