{% extends "base.html" %}
{% block title %}{{ username }}'s Profile{% endblock %}
{% block content %}

{% if session.get('user') == username %}
    <h2>Hello, <span class="role-{{ user.role }}">{{ username }}</span>
    </h2> 
    <img src="/static/avatars/{{ user.username }}.png" onerror="this.src='/static/avatars/default.png'" height="100" style="width: 100px; height: 100px; object-fit: cover"> <br>
    {{ user['bio']|safe }} <br>
                {% if online %}
    <span style="color: rgb(21, 161, 49);">Online now</span> <br>
            {% else %}
            Last seen: {{ last_seen }} <br>
    {% endif %}
    Account created: {{ user['accountDate'] }}
    <hr>
    <h3>Achievements</h3> 
    You have unlocked {{ fraction }} ({{ percentage }}%)<br> <br>
    {% for achievement_id in achievements %}
        {% for a in achievement_list %}
            {% if a.id == achievement_id %}
                <span class="rarity-{{ a.rarity }}">{{ a.name }}</span> — {{ a.description }} <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <hr>
    {% if show_flairs %}
        <h3>Flairs</h3>
        {% for flair in flairs %}
            {% for i in flair_list %}
                {% if i['id'] == flair %}
                    <span class="rarity-{{ i['rarity'] }}">{{ i['name'] }}</span> — {{ i['description'] }} <br>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <hr>
    {% endif %}
    <h3>Game Stats</h3>
    <b>Blackjack:</b> <br>
    Single player wins: {{ player['bswins'] }} <br>
    Multiplayer wins: {{ player['bmwins'] }} <br>
    Multiplayer rating: {{ player['brating'] }} <br>
    Blackjacks: {{ player['tblackjacks'] }} <br>
    
    <br>
    <b>Numberspin</b> <br>
    Highscore: {{ score }}
    <hr>
    
     Change pfp: <br>
    <form action="/profile/{{ username }}/uploadpfp" method="POST" enctype="multipart/form-data">
    <input type="file" name="pfp" accept="image/*" > <br>
    <input type="submit" value="Upload" class="buttonthing">
    </form> <br> 
     <a href="/bio/{{ username }}"><button class="buttonthing">Edit bio</button></a><a href="/logout"><button class="buttonthing">Logout</button></a> <br>
{% else %}
    <h2><span class="role-{{ user.role }}">{{ username }}</span>

    {% if user.role != 'user' %}
    ({{ user.role }})


        {% endif %}
</h2>
    <img src="/static/avatars/{{ user.username }}.png" onerror="this.src='/static/avatars/default.png'" height="100" style="width: 100px; height: 100px; object-fit: cover;"> <br>
    {{ user['bio']|safe }} <br>
            {% if online %}
    <span style="color: rgb(21, 161, 49);">Online now</span> <br>
            {% else %}
            Last seen: {{ last_seen }} <br>
    {% endif %}
    Account created: {{ user['accountDate'] }}
    <hr>
    <h3>Achievements</h3>
    {{ username }} has unlocked {{ fraction }} ({{ percentage }}%)<br> <br>
    {% for achievement_id in achievements %}
        {% for a in achievement_list %}
            {% if a.id == achievement_id %}
                <span class="rarity-{{ a.rarity }}">{{ a.name }}</span> — {{ a.description }} <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <hr>
    {% if show_flairs %}
        <h3>Flairs</h3>
        {% for flair in flairs %}
            {% for i in flair_list %}
                {% if i['id'] == flair %}
                    <span class="rarity-{{ i['rarity'] }}">{{ i['name'] }}</span> — {{ i['description'] }} <br>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <hr>
    {% endif %}
    <h3>Game Stats</h3>
    <b>Blackjack:</b> <br>
    Single player wins: {{ player['bswins'] }} <br>
    Multiplayer wins: {{ player['bmwins'] }} <br>
    Multiplayer rating: {{ player['brating'] }} <br>
    Blackjacks: {{ player['tblackjacks'] }} <br>
    
    <br>
    <b>Numberspin:</b> <br>
    Highscore: {{ score }}
    <hr>
{% endif %}

{% endblock %}