{% extends "base.html" %}
{% block title %}{{ username }}'s Profile{% endblock %}
{% block content %}

{% if session.get('user') == username %}
    <h2>Hello, <span class="role-{{ user.role }}">{{ username }}</span>
    {% if user.role != 'user' %}
    ({{ user.role }})
    {% endif %}  
    </h2> <img src="/static/avatars/{{ user.username }}.png" onerror="this.src='/static/avatars/default.png'" height="100"> <br>
    {{ user['bio']|safe }} <br>
    Account created: {{ user['accountDate'] }}
    <hr>
    <h3>Achievements</h3>
    {% for achievement_id in achievements %}
        {% for a in achievement_list %}
            {% if a.id == achievement_id %}
                <span class="rarity-{{ a.rarity }}">{{ a.name }}</span> — {{ a.description }} <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <hr>
    <h3>Game Stats</h3>
    <b>Blackjack:</b> <br>
    Single player wins: {{ player['bswins'] }} <br>
    Multiplayer wins: {{ player['bmwins'] }} <br>
    Multiplayer rating: {{ player['brating'] }} <br>
    Blackjacks: {{ player['tblackjacks'] }} <br> <hr>
    
     Change pfp: <br>
    <form action="/profile/{{ username }}/uploadpfp" method="POST" enctype="multipart/form-data">
    <input type="file" name="pfp" accept="image/*" > <br>
    <input type="submit" value="Upload" class="buttonthing">
    </form> <br> 
     <a href="/bio/{{ username }}"><button class="buttonthing">Edit bio</button></a><a href="/logout"><button class="buttonthing">Logout</button></a>
{% else %}
    <h2><span class="role-{{ user.role }}">{{ username }}</span>

    {% if user.role != 'user' %}
    ({{ user.role }})

    </h2> 
        {% endif %}
            {% if online %}
    <span style="color: rgb(21, 161, 49);">Online now</span> <br>
            {% else %}
            Last seen: {{ last_seen }} <br>
    {% endif %}
    <img src="/static/avatars/{{ user.username }}.png" onerror="this.src='/static/avatars/default.png'" height="100"> <br>
    {{ user['bio']|safe }} <br>
    Account created: {{ user['accountDate'] }}
    <hr>
    <h3>Achievements</h3>
    {% for achievement_id in achievements %}
        {% for a in achievement_list %}
            {% if a.id == achievement_id %}
                <span class="rarity-{{ a.rarity }}">{{ a.name }}</span> — {{ a.description }} <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <hr>
    <h3>Game Stats</h3>
    <b>Blackjack:</b> <br>
    Single player wins: {{ player['bswins'] }} <br>
    Multiplayer wins: {{ player['bmwins'] }} <br>
    Multiplayer rating: {{ player['brating'] }} <br>
    Blackjacks: {{ player['tblackjacks'] }} <br> <hr>
{% endif %}

{% endblock %}